<h1>Quiz</h1>

<h2>Input</h2>
<p>Copy from the publisher's testbank and paste into here. Edit it to change the questions or answers.</p>
<textarea ng-model="storage.inputText"></textarea>

<h2>Questions</h2>
<p>Use the checkboxes to select desired questions, see the selection count in the top right auto update.</p>
<div class="row" ng-repeat="question in storage.questions">
  <div ng-class="questionStyle(question)" class="control col-sm-2">
    <input ng-model="question.selected" type="checkbox">
  </div>
  <div ng-class="questionStyle(question)" class="question col-sm-10">
    <p>{{question.question}}</p>
    <ol type="a">
      <li ng-repeat="choice in question.choices">
        <span ng-class="choiceStyle(choice)">{{choice.text}}</span>
      </li>
    </ol>
  </div>
</div>

<h2>Output</h2>
<p>Download this file, then upload to Blackboard.</p>
<button class="btn"><a ng-attr-download="{{downloadName}}" ng-attr-href="{{exportUrl}}">Download</a></button>
